@import '../../../../shared/style/utils.scss';

.HomePage {
  max-width: $max-app-width;
  margin: 0 auto;

  &__social {
    position: fixed;
    top: 280px;
    right: 0;

    @include on-tablet-s {
      top: 164px;
    }

    @include on-mobile-m {
      top: 133px;
    }
  }

  &__whatsup {
    position: fixed;
    top: 630px;
    right: 0;
    cursor: pointer;

    @include onHover(transform, scale(1.05));

    @include on-tablet-s {
      height: 40px;
      width: 40px;
    }
  }
}
