@import '../../../../shared/style/utils.scss';

.CatalogFilter {
  width: 306px;
  padding-top: 20px;
  border-top: 1px solid $color-border;

  &__main {
    overflow: hidden;
    position: relative;
    height: 100px;
    transition: height ease-in-out $transition-duration;

    &--closed {
      height: 0px;
    }
  }

  &__drop {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: top ease-in-out $transition-duration;

    &--closed {
      top: -80px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__arrow {
    cursor: pointer;
    margin-bottom: 10px;
    &--closed {
      transform: rotate(180deg);
    }
  }

  &__title {
    color: $color-primary-hover;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__inputs {
    width: 153px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 10px;
    align-items: center;
    justify-content: space-between;
  }

  &__inputs-wr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &__input {
    width: 100%;
    height: 40px;
    padding: 10px;
    color: #757575;
    min-width: 94px;
    border: 1px solid $color-border;
  }

  &__btn {
    height: 40px;
    border: 1px solid $color-secondary;
    padding: 10px;
    background-color: transparent;
    display: flex;
    align-items: center;
  }

  &__slider {
    width: 90% !important;
    margin: 0 auto !important;
  }
}
