%container {
  width: 100%;
  max-width: 1620px;
  padding-inline: 50px;
  margin: 0 auto;

  @include on-tablet-s {
    padding-inline: 30px;
  }

  @include on-mobile-m {
    padding-inline: 20px;
  }
}

%btn {
  height: 68px;
  width: 212px;
  border: none;
  background-color: $color-secondary;

  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;

  display: flex;
  align-items: center;
  justify-content: center;
}
