%container {
  width: 100%;
  max-width: 1620px;
  padding-inline: 50px;
  margin: 0 auto;

  @include on-tablet-s {
    padding-inline: 30px;
  }

  @include on-mobile-m {
    padding-inline: 20px;
  }
}
