$color-primary: #1d1d1b;
$color-primary-hover: #555555;

$color-secondary: #d8c372;
$color-secondary-hover: #ffe687;
$color-secondary-opacity: #d8c3726e;

$color-font-light: #fff;

$color-border: #989897;

$color-error: #da7e7e;
