@import '../../../../../shared/style/utils.scss';

.ComparisonTableMobile {
  display: none;
  @include box-shadow;
  padding: 4%;
  flex-direction: column;
  margin-bottom: 20px;

  @include on-mobile {
    display: flex;
  }

  &__table {
    width: 100%;

    &-header {
      padding: 10px;
    }
  }

  &__header {
    display: flex;
    width: 100%;
    gap: 10px;
    max-height: 226px;
    align-items: center;
    justify-content: space-between;
    margin-block: 20px;
  }

  &__close {
    width: 6%;
    @include onHover(transform, scale(1.1));
  }

  &__logo {
    width: 100%;
  }

  &__table-option {
    font-size: 20px;
    font-weight: 600;
  }

  &__table-option {
    padding-block: 10px;
    border: 1px solid $color-border;
    border-left: none;
  }

  &__column {
    flex-grow: 1;
  }

  &__product {
  }

  &__btn {
    @extend %btn;
    font-size: clamp(1rem, 0.5rem + 0.5vw, 1.3rem);
    @include on-mobile-m {
      font-size: 13px;
    }
  }
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: white;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 8px;
}

td {
  text-align: center;
  width: 50%;
}

tbody > tr:nth-of-type(2n + 2) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}
