@import '../../../../shared/style/utils.scss';

.LoginForm {
  max-width: 665px;
  width: 100%;
  background-color: $color-primary;
  color: $color-font-light;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 50px;

  @include on-mobile {
    padding: 20px;
  }

  &__logo {
    height: 90px;
    width: 124px;
    margin-bottom: 15px;

    @include on-mobile {
      display: none;
    }
  }

  &__title {
    font-size: 28px;
    color: $color-font-light;
    text-align: center;
  }

  &__wr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__btn-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    max-width: 425px;

    @include on-mobile {
      width: 90vw;
    }
  }

  &__btn {
    @extend %btn;
    font-size: 16px;
    height: 55px;
    width: 250px;
    margin-top: 25px;
    @include onHover(background-color, $color-secondary-hover);
    margin-bottom: 25px;

    @include on-mobile {
      height: 50px;
    }

    &--create {
      @extend .LoginForm__btn;
      color: white;
      background-color: inherit;
      border: 1px solid $color-secondary;
    }
  }

  &__horiz {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    gap: 10px;
    color: $color-font-light;
    margin-bottom: 40px;

    &-line {
      background-color: $color-font-light;
      height: 1px;
      width: 100%;
    }
  }

  &__span {
    color: $color-secondary;
    @include onHover(color, $color-secondary-hover);
  }

  &__remember {
    width: 100%;
    max-width: 425px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__checkbox {
    display: flex;
    background-color: $color-primary;
    height: 20px;
    width: 20px;
    border: 3px solid $color-secondary;
    border-radius: 6px;
  }

  &__footer {
    display: flex;
    gap: 10px;

    @include on-mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  &__error {
    height: 20px;
    &-msg {
      color: $color-error;
    }
  }
}
