@import '../../../shared/style/utils.scss';

.CategoryList {
  --cell-size: 160px;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--cell-size));
  column-gap: 20px;
  justify-content: space-between;
  justify-items: center;

  @include on-desktop-s {
    column-gap: 0;
    --cell-size: 150px;
  }

  @include on-tablet {
    column-gap: 20px;
    --cell-size: 180px;
  }

  @include on-tablet {
    column-gap: 20px;
    --cell-size: 160px;
  }

  @include on-mobile {
    column-gap: 0;
    --cell-size: 130px;
  }
}
