@import '../../../../shared/style/utils.scss';

.Control {
  display: flex;
  align-items: center;
  height: 90px;

  &__btn {
    cursor: pointer;
    min-width: 100px;
    background-color: $color-primary;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-left: 1px solid $color-border;

    @include onHover(background-color, $color-primary-hover);

    &--currencies,
    &--flags {
      position: relative;
    }

    &:hover .Header__flags {
      background-color: $color-primary-hover;
    }
  }

  // &__country {
  //   max-width: 332px;
  //   display: block;
  //   background-color: $color-primary;
  //   transform: translateY(0);
  //   transition: transform ease $transition-duration;

  //   &--hide {
  //     transform: translateY(-150px);
  //     transition: transform ease $transition-duration;
  //   }
  // }
}
