@import '../../../../shared/style/utils.scss';

.AdminBrands {
  &__td {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__table {
    margin-top: 40px;
    // width: 100%;
  }

  &__td {
    &--last {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
    }
  }

  &__loader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
  }

  &__error {
    color: $color-error;
  }
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
  width: 100%;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}
